{{ define "headStyles" }}
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "page.css" }}" />
{{ end }} 
{{ define "headScripts" }}
  {{ partial "list_head.html" . }}
{{ end }} 
{{ define "main" }}
<main class="page">
  <div class="row align-center">
    <div class="col col-10">
      <h1>Tags</h1>
      <div class="grid loading">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
          {{ range first 1 $taxonomy }}
          <div class="grid-item">
            <article>
                <a href="{{ "/tags/" }}{{ $name | urlize }}">
                  <img class="hide-sm" src="/images/{{ index .Site.Data.css.hash  .Page.Params.marquee  }}">
                  <h2>
                    <a href="{{ "/tags/" }}{{ $name | urlize }}"> {{ $name }} <span class="term-count">({{ len ($taxonomy) }})</span></a>
                  </h2>
                </a>
                <p>
                  Last: {{ .Page.Date.Format "2 January 2006" }}
                </p>
            </article>
          </div>
          {{ end }}
        {{ end }}

        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
      </div>
      <div class="pagination-container">
        {{ template "_internal/pagination.html" . }}
      </div>
    </end>
  </end>
</end>

{{ partial "list_end_script" . }}
{{ partial "footer" . }}
{{ end }}
