<script>
  //set layout after everything (esp. images) have loaded
  var grid = document.querySelector('.loading');
  grid.classList.remove('loading'); //replace styles with masonry styles
  var msnry = new Masonry('.grid', {
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    gutter: '.gutter-sizer',
    horizontalOrder: true,
    percentPosition: true
  });

  window.onload = function() {
    //set relative dates
    var dates = document.querySelectorAll('.date');
    for (var i = 0; i < dates.length; ++i) {
      var relative = moment(dates[i].textContent, "DD MMMM YYYY").fromNow();
      dates[i].textContent = relative;
    }
  }
</script>
