<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ .Description }}">
    <link rel="stylesheet" href="{{"css/normalize.css" | relURL}}" />
    {{ $mainUrl := index .Site.Data.css.hash "main.css" }}
    {{ $cssUrl :=  printf "%s/%s" "css" $mainUrl }}
    <link rel="stylesheet" href="{{ $cssUrl | relURL }}" />
</head>
<body>
    <main>
    {{ $paginator := .Paginate (where .Data.Pages "Type" "articles") }}
    {{ range $paginator.Pages }}
      <article>
          <h1>
              <a href="{{ .Permalink }}">
                  {{ .Title }}
              </a>
          </h1>
          {{ .Summary }}
          <a href="{{ .Permalink }}">
              Read the full article
          </a>
      </article>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
    </main>
</body>
<html>
