{{ define "headScripts" }}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{{ end }} 
{{ define "main" }}
  <main>
    <div class="row align-center">
      <div class="col col-10">
        <div class="grid">
          <div class="grid-sizer"></div>
          <div class="gutter-sizer"></div>
          {{ $paginator := .Paginate (where .Data.Pages.ByDate "Type" "articles") }}
          {{ range $paginator.Pages }}
            <div class="grid-item">
              <article>
                  <h1>
                      <a href="{{ .Permalink }}">
                          {{ .Title }}
                      </a>
                  </h1>
                  {{ .Summary }}
                  <a href="{{ .Permalink }}">
                      Read the full article
                  </a>
              </article>
            </div>
          {{ end }}
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </main>

  <script>
    (function() {
      var msnry = new Masonry('.grid', {
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        gutter: '.gutter-sizer',
        percentPosition: true
      });
    })();
  </script>
{{ end }}
