{{ define "headStyles" }}
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "article.css" }}" />
{{ end }} 
{{ define "headScripts" }}
  <script src="/js/{{ index .Site.Data.js.hash "ofi.min.js" }}"></script>
{{ end }}
{{ define "main" }}
  {{ $fileNameBase := replaceRE "(.*).jp(e?)g$" "$1" .Params.marquee }}
  {{ $file450 := $fileNameBase | printf "%s-450px.jpg"}}
  {{ $file768 := $fileNameBase | printf "%s-768px.jpg"}}
  {{ $file1024 := $fileNameBase | printf "%s-1024px.jpg"}}

<main>
  <article>
    <div class="plx-container">
      <div class="plx-group marquee">
        <div class="plx-layer plx-layer-back">
          <figure>
            <img class="zoom" src="/images/{{ index .Site.Data.images.hash  .Params.marquee  }}"  srcset="/images/{{ index .Site.Data.images.hash  $file450 }} 450w, /images/{{ index .Site.Data.images.hash  $file768  }} 768w, /images/{{ index .Site.Data.images.hash  $file1024  }} 1024w, /images/{{ index .Site.Data.images.hash  .Params.marquee  }}" />
            <div class="gradient-overlay title"></div>
            <figcaption class="show-sm">
              {{ .Params.marqueeCaption}}
            </figcaption>
          </figure>
        </div><!-- .plx-layer -->
        <div class="plx-layer plx-layer-overlay title">
          <div class="layer-container">
            <div class="layer-inner">
              <h1>{{ .Title }}</h1>
              <div class="tagline h4">
                {{ .Params.tagline }}
              </div>
            </div><!-- .title-inner -->
          </div><!-- .title-container -->
        </div><!-- .plx-layer-overlay -->
      </div><!-- .plx-group -->
      <div class="plx-group fg">
        <div class="plx-layer plx-layer-overlay content-bg">
          <div class="row align-center">
            <div class="col col-10">
              <div class="posted-date"> Posted: <time datetime="{{.Date.Format "2 Jan 2006"}}">{{.Date.Format "2 Jan 2006"}}</time> </div>
              {{ .Content }}

              {{ partial "footer" . }}
            </div><!-- .col -->
          </div><!-- .row -->
        </div><!-- .plx-layer -->
      </div><!-- .plx-group -->
    </div><!-- .plx-container -->
  </article>
</main>
<script>
  objectFitImages();
</script>
{{ end }}
