$colour-primary: #297cbb;
$heading-color: #fff;
$content-bg: #fff;
$content-color: #2c3643;

body {
  font-weight: 300;
}

h1.title, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}

@include text-font("'Lato', sans-serif");
@include headings-font("'Lato', sans-serif");

.marquee {
  img {
    width:100%;
  }
}

.plx-layer-overlay {
  margin: 0 10px;
}

.marquee figure {
  margin: 0px;
}



/* hide content off screen but ensure it's still accessible for screen readers */
.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/* parallax scrolling */

@media screen and (min-width: 40em) {
  @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {

    .marquee { 
      img {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;
        
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
        
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
      }
    }

    .title-inner {
      width: 400px;
      margin: 0 auto;
      text-align: center;
      padding: 30px;
      background-color: rgba($colour-primary, 0.5);
      color: $heading-color;
      margin-top: 16vh;
    }

    .plx-container {
      perspective: 300px;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .plx-layer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .plx-layer-overlay {
      transform: translateZ(0);
    }
    .plx-layer-back {
      transform: translateZ(-295px) scale(2);
    }
    .plx-group {
      position: relative;
      height: 100vh;
      transform-style: preserve-3d;
    }
  }
}

/* tablets and above */
@include breakpoint(768px) {
  h1.title {
    color: $heading-color;
  }
  article {
    margin: auto;
    max-width: 840px;
    padding-top: 15px;
    @include clearfix;
  }
  .plx-layer-overlay {
    margin: 0px;
  }
  main {
    background: $content-bg;
  }
  color: $content-color;
}
