$colour-primary: #297cbb;
$marquee-text-color: #fff;
$content-bg: #fff;
$content-color: #2c3643;

body {
  font-weight: 300;
}

h1.title, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}

@include text-font("'Lato', sans-serif");
@include headings-font("'Lato', sans-serif");

.marquee {
  img {
    width:100%;
  }
}

.plx-layer-overlay {
  margin: 0 10px;
}

.marquee figure {
  margin: 0px;
}

/* nav */
.header {
  background-color: rgba(30,30,30,0.1);
  position: absolute;
  width: 100%;
  z-index: 3;
  a {
    color: $marquee-text-color;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
   

  li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }
   
  li a:hover {
    background-color: rgba(30,30,30,0.1);
  }
   
  .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
 
  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;

    .navicon {
      background: $marquee-text-color;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px;
    }
     
    .navicon:before,
    .navicon:after {
      background: $marquee-text-color;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }
     
    .navicon:before {
      top: 5px;
    }
     
    .navicon:after {
      top: -5px;
    }
  }
   
  .menu-btn {
    display: none;
  }
   
  .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
   
  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
   
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
   
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
   
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}

/* hide content off screen but ensure it's still accessible for screen readers */
.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/* parallax scrolling */

@media screen and (min-width: 40em) {
  @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {

    .marquee { 
      img {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;
        
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
        
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
      }
    }

    .title-inner {
      width: 400px;
      margin: 0 auto;
      text-align: center;
      padding: 30px;
      background-color: rgba($colour-primary, 0.5);
      color: $marquee-text-color;
      margin-top: 16vh;
    }

    .plx-container {
      perspective: 300px;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .plx-layer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .plx-layer-overlay {
      transform: translateZ(0);
    }
    .plx-layer-back {
      transform: translateZ(-295px) scale(2);
    }
    .plx-group {
      position: relative;
      height: 100vh;
      transform-style: preserve-3d;
    }
  }
}

/* for the nav */

/* tablets and above */
@include breakpoint(768px) {
  h1.title {
    color: $marquee-text-color;
  }
  article {
    margin: auto;
    max-width: 840px;
    padding-top: 15px;
    @include clearfix;
  }
  .plx-layer-overlay {
    margin: 0px;
  }
  main {
    background: $content-bg;
  }
  .menu {
    position:relative;
  }
  .menu-left {
    float: left;
  }
  .menu-right {
    float: right;
  }

  /* nav */
  .header {
    background-color: transparent;
    li {
      float: left;
    }
    li a {
      padding: 20px 30px;
    }
    .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .menu-icon {
      display: none;
    }
  }
  color: $content-color;
}
