$marquee-text-colour: #fff;
$content-bg: #fff;
$content-colour: #616161;
$heading-colour: #505050;
$highlight: #00bcd4;
$light-colour: #8d8d8d;
$heading-font: 'Montserrat';
$body-font: 'Open Sans';


@include text-font("'Open Sans', sans-serif");
@include headings-font("'Montserrat', sans-serif");

body {
  color: $content-colour;
  font-weight: 300;
}

h1.title, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: $heading-colour;
}

a {
  color: $highlight;
  text-decoration: none;
}

/* nav */
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 3;
  border-bottom: 1px #ddd solid;
  font-size: 16px;
  a {
    color: $heading-colour;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
   

  li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }
   
  li a:hover {
    background-color: rgba(30,30,30,0.1);
  }
   
  .logo {
    display: block;
    float: left;
    font-size: 1.5em;
    text-decoration: none;
    color: $content-colour;
    width: 180px;
    height: 60px;
    padding: 0 10px;

    svg {
      height: 100%;
      width: 180px;
      fill: $content-colour;
    }
    
    .svg-fallback {
      display: none;
    }
    .no-svg .svg-fallback { 
      background-image: url(images/logo.png); 
    }
  }
 
  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;

    .navicon {
      background: $heading-colour;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px;
    }
     
    .navicon:before,
    .navicon:after {
      background: $heading-colour;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }
     
    .navicon:before {
      top: 5px;
    }
     
    .navicon:after {
      top: -5px;
    }
  }
   
  .menu-btn {
    display: none;
  }
   
  .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
   
  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
   
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
   
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
   
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}

/* hide content off screen but ensure it's still accessible for screen readers */
.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

article img {
  border-radius:7px;
  overflow:hidden;
}

.pagination-container {
  text-align: center;
}

.pagination {
  list-style-type: none;
  display: inline-block;
  font-family: $heading-font;


  li {
    display: inline;
    &:first-child, &:last-child {
      display: none; //hide the buttons for first/last pages
    }
    &.disabled {
      display: none;
    }
    &.active a {
      height: 34px;
      width: 34px;
      border-radius: 50%;
      background-color: $highlight;
      color: #fff;
    }
  }
  a[aria-label='Next']:after, a[aria-label='Previous']:after {
    border: 1px #ededed solid;
    padding: 10px 18px;
    border-radius: 10px;
  }
  a[aria-label='Next'] span {
    visibility: hidden;
  }
  a[aria-label='Next']:after {
    content: 'Next';
  }
  a[aria-label='Previous'] span {
    visibility: hidden;
  }
  a[aria-label='Previous']:after {
    content: 'Previous';
  }
  a {
    line-height: 34px;
    padding: 0;
    margin: 12px 8px;
  }
  a, span {
    border: none;
    color: $light-colour;
  }
}

/* tablets and above */
@include breakpoint(768px) {
  /* nav */
  .header {
    li {
      float: left;
    }
    li a {
      padding: 20px 30px;
    }
    .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .menu-icon {
      display: none;
    }
  }
  color: $content-colour;
}
