main {
  padding: 80px 20px 20px 20px; //extra padding on top for the header
}

.tags {
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 2px;
  font-family: $heading-font;
  list-style-type: none;
  color: $highlight;
  margin-top: 22px;
  margin-bottom: 7px;
}

h1 {
  color: $content-colour;
  a {
    color: $light-colour;
    font-family: $body-font;
  }
}

h2 {
  font-size: 26px;
  line-height: 110%;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
}

.footer {
  font-family: $heading-font;
  color: $light-colour;
  font-weight: 300;
  span {
    margin: 0 6px;
  }
}

/* masonry layout */
.grid-sizer,
.grid-item { 
  width: 100%; 
  float: left;
  margin-bottom: 40px;
}
.gutter-sizer { 
  width: 3%; 
}

/* tablets and above */
@include breakpoint(768px) {
  .grid-sizer,
  .grid-item { 
    width: 30%; 
    padding: 0px;
    margin-bottom: 60px;
  }

  .page {
    padding-top: 80px;
  }
  .loading .grid-item {
      margin: 10px;
  }
  img {
    border-radius:7px;
  }
}
